[Desktop Entry]
Name=Snigdha OS Welcome
GenericName=Welcome Application for Snigdha OS
X-GNOME-FullName=Snigdha OS Welcome
Comment=Welcome application for Snigdha OS installs
Exec=/usr/local/bin/snigdhaos-welcome
Icon=snigdhaos-welcome
Terminal=false
Type=Application
Categories=GTK;Settings;Security;System;X-GNOME-SystemSettings;X-XFCE-SettingsDialog;
Keywords=welcome;tool;
StartupNotify=true
